.heading{
    font-size: 17px;
}
.links{
    width: 90%;
    height: 100px;
}
.link{
    text-decoration: none;
    font-size: 14px;
    color: grey;
    font-weight: 100 !important; 
    padding-right: 40px;
    margin-top: 80px !important;
    margin-bottom: 8px;
}
.link:hover{
color: grey;
}

